<div class="toolbar title-list pe-2" id="kt_toolbar">
    <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">

        <!--START::Card Title-->
        <div data-kt-swapper="true" data-kt-swapper-mode="prepend"
            data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}"
            class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
            <span class="h-20px border-gray-200 border-start mx-4"></span>
            <h1 class="d-flex align-items-center fw-bolder fs-3 my-1 text-white">{{
                this.gloablService.TranslateBL.PageTitleName_en_pl }} List</h1>
        </div>
        <!--END::Card Title-->
        
        <!--START::Actions Buttons-->
        <div class="d-flex align-items-center py-1">

        </div>
        <!--END::Actions Buttons-->

    </div>
</div>