<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="ERPSystemEntities"
       connectionString="metadata=res://*/;provider=System.Data.SqlClient;provider connection string='Data Source=RAYADWSCOMREC\RAYADWSCSQLSRV;Initial Catalog=ERPSystem;Integrated Security=True;MultipleActiveResultSets=True'"
       providerName="System.Data.EntityClient" />
</connectionStrings>