html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.title-list{
  background-color: #e6fce5;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.title-action{
  background-color: #e1efff;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.text-white{
  color: white;
}