@use '@angular/material' as mat;
// @use '@angular/material/prebuilt-themes/indigo-pink' as *;

html {
  color-scheme: dark;
  @include mat.theme((
    color: (
        primary: mat.$cyan-palette,
    ),
    typography: Roboto,
    density: 0
  ));
}

.darkMode {
    color-scheme: light;
  @include mat.theme((
    color: mat.$azure-palette,
    typography: Roboto,
    density: 0
  ));
}

