<div class="toolbar" id="kt_toolbar">
	<div id="kt_toolbar_container" class="container-fluid d-flex flex-stack title-action">
		<div data-kt-swapper="true" data-kt-swapper-mode="prepend"
			data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}"
			class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
			<span class="h-20px border-gray-200 border-start mx-4"></span>
			<h1 class="d-flex align-items-center fw-bolder fs-3 my-1">Create new {{this.gloablService.TranslateBL.PageTitleName_en}}</h1>
		</div>
		<div class="d-flex align-items-center py-1">
			<a href="#" class="btn btn-danger m-2" data-bs-toggle="modal" data-bs-target="#kt_modal_create_app" id="kt_toolbar_primary_button">Cancel</a>
			<a href="#" class="btn btn-primary m-2" data-bs-toggle="modal" data-bs-target="#kt_modal_create_app" id="kt_toolbar_primary_button">Save</a>
		</div>
	</div>
</div>